

/*color de login*/
body {
  background-color: #026873;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  max-width: 300px;
  align-items: 0;
  margin: 0 auto;
  padding: 60px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #024059;
  background-size: cover;
    position: relative;

}

.container h2 {
 color: white;
 font-size: 30px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
}

.container label{
  color: white;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container input{
  padding: 10px;
  border-radius: 5px;
}

.container input:hover{
  background: transparent;
}

.title {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.inputContainer {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: white;
}

input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 5px;
  background-color: #026873;
  color: white;
  border: radius 0 0 0;
  border-radius: 0 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/*fin login*/

/* color de registro*/
