@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*color de login*/
main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #ff8c6b;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box{
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.forms-wrap{
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  
}
.carousel{
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #ffe0d2;
  border-radius: 2rem;
}
.container {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulo h2{
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 5px;
  border-bottom: 1px solid;
  color: #000;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 95%;
  border: 1px solid #ff8c6b;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
button:last-of-type {
width: 101%;
height: 40px;
background: #ff8c6b;
border: none;
color: white;
margin-bottom: 16px;
cursor: pointer;
}
